:root {
    --Footer-Background-Color: #2E4661;
    --Header-Background-color: #2E4661;
    --Body-Background-Color: #2E4661;
    --Special-Text-Color: #88B7D3;
    --Background-Image-Height: 200px;
    --White-Background-Color: #F2EDEB;
    --White-Text-Color: #F2EDEB;
    --Submit-Button-Hover-Effect: lightblue;
}

/* Basic Website CSS Code */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    background-color: var(--Header-Background-color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: fit-content;
    min-height: 3em;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    padding: 2px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 50;
}

header * {
    padding: 1px;
    margin: 3px;
}

header img {
    margin-left: 50px;
    height: 50px;
    opacity: 1;
    transition: all .2 ease-out;
}

header img:hover {
    opacity: 0.65;
    transition: .3s ease-in;
}

nav {
    margin-left: auto;
    margin-right: 10px;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

header form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    flex-basis: fit-content;
}

header form input[type="search"] {
    margin-top: 5px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    width: 30vw;
    border-radius: 1em;
    border: none;
    padding: 2px;
    padding-left: 6px;
    flex-shrink: 3;
    flex-grow: 4;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

header form input[type="search"]:focus {
    border-radius: 0em;
}

header form input[type="submit"] {
    background: none;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 3em;
    margin-top: 15px;
}

header form input[type="submit"]:hover {
    background: var(--Submit-Button-Hover-Effect);
    border-radius: 3em;
}

header form svg {
    width: 32px;
    height: 32px;
}

/* Footer CSS Layout */

footer {
    background-color: var(--Footer-Background-Color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: auto;
    display: flex;
    padding: 2px;
    margin: 0px;
}

footer * {
    padding: 1px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background-color: var(--Footer-Background-Color);
}

footer a {
    color: var(--Special-Text-Color);
}

footer a:hover {
    color: var(--White-Text-Color);
}

.Creators {
    float: right;
    margin-left: auto;
    margin-right: 5px;
}

body {
    background-color: var(--Body-Background-Color);
    margin: 0px;
}

/* ^^^ Basic Website CSS Code Above ^^^ */

/* Top Image Layout */

.Top-image {
    font-family: 'JetBrains Mono', monospace;
    background: var(--White-Background-Color);
    color: var(--White-Background-Color);
    width: calc(100% - 40px);
    /* background: url(images/Security_Picture.png);
    background-repeat: no-repeat;
    background-size: cover; */
    letter-spacing: 5px;
    margin: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
    min-width: 637px;
}

.Top-image h1 {
    font-size: 5em;
    display: inline-block;
}

.Top-image ul {
    margin-right: 80px;
}

@keyframes c {
    0% {
        opacity: 0;
    }
    100% {
        -ms-transform: translate(40px, 0px);
        /* IE 9 */
        -webkit-transform: translate(40px, 0px);
        /* Safari */
        transform: translate(40px, 0px);
        /* Standard syntax */
    }
    from {
        color: var(--White-Background-Color);
    }
    to {
        color: #4C75A3;
        text-shadow: 0px 2px 5px black;
    }
}

.c, .a, .r, .e, .e-2, .r-2, .s {
    animation: c 2.5s ease-in-out forwards;
    animation-iteration-count: 1;
}

.c {
    animation-delay: 0.4s;
    /* transform: rotate3d(10, 10, 10, 65deg); */
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.a {
    animation-delay: 0.3s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.r {
    animation-delay: 0.2s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.e {
    animation-delay: 0.1s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.e-2 {
    animation-delay: 0s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.r-2 {
    animation-delay: -0.1s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.s {
    animation-delay: -0.2s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

/* ^^^ Top Image Layout ^^^ */

/* Job Offers Area Layout */

.job-area {
    margin-top: 20px;
    background-color: var(--White-Background-Color);
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    min-width: 597px;
}

.job-area h1 {
    text-align: center;
    padding: 10px;
}

/* Animated "Now Hiring text" Layout */

.animated {
    position: relative;
    color: maroon;
    line-height: 3rem;
    width: 200px;
    overflow: hidden;
    height: 3rem;
    text-align: center;
}

.animated__text {
    position: absolute;
    animation: 3s bounce ease-in-out infinite paused;
    white-space: nowrap;
    top: 0;
    padding: 0 0.5rem;
}

.animated:not(.animated--on-hover) .animated__text, .animated.animated--on-hover:hover .animated__text {
    animation-play-state: running;
}

@keyframes bounce {
    0%, 5%, 95%, 100% {
        left: 0%;
        transform: translate(0, 0);
    }
    45%, 55% {
        left: 100%;
        transform: translate(-100%, 0);
    }
}

/* ^^^ Animated "Now Hiring text" Layout ^^^ */

.job-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.job-offer {
    background-color: var(--White-Background-Color);
    width: calc(33.33% - 60px);
    height: fit-content;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 160px;
}

.job-offer h1 {
    text-align: center;
}

.job-offer img {
    /* Centers the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

img[src="images/driverImage.jpg"] {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

img[src="images/careersBodyguard1.png"] {
    width: 150px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

img[src="images/careersBodyguard2.png"] {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* ^^^ Job Offers Area Layout ^^^ */

.jobRequirements {
    margin-top: 20px;
}

.jobRequirements a {
    color: maroon;
    text-decoration: none;
}

.wiggle {
    animation: wiggle 2s infinite;
    text-align: center;
}

.wiggle a {
    text-decoration: none;
    color: var(--Body-Background-Color);
    font-size: 32px;
}

@keyframes wiggle {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* ^^^ Main Body CSS Code ^^^ */