:root {
    --Footer-Background-Color: #2E4661;
    --Header-Background-color: #2E4661;
    --Body-Background-Color: #2E4661;
    --Special-Text-Color: #88B7D3;
    --Background-Image-Height: 200px;
    --White-Background-Color: #F2EDEB;
    --White-Text-Color: #F2EDEB;
    --Submit-Button-Hover-Effect: lightblue;
}

/* Basic Website CSS Code */

* {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    background-color: var(--Header-Background-color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: fit-content;
    min-height: 3em;
    min-width: 637px;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 50;
}

header * {
    padding: 1px;
    margin: 3px;
}

header img {
    margin-left: 50px;
    height: 50px;
    opacity: 1;
    transition: all .2 ease-out;
}

header img:hover {
    opacity: 0.65;
    transition: .3s ease-in;
}

nav {
    margin-left: auto;
    margin-right: 10px;
    padding-top: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

header form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    flex-basis: fit-content;
    max-width: 100%;
    max-height: 60px;
    margin-left: 20px;
}

header form input[type="search"] {
    margin-top: 5px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    width: 30vw;
    border-radius: 1em;
    border: none;
    padding: 2px;
    padding-left: 6px;
    flex-shrink: 3;
    flex-grow: 4;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

header form input[type="search"]:focus {
    border-radius: 0em;
}

header form input[type="submit"] {
    background: none;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 3em;
    margin-top: 15px;
}

header form input[type="submit"]:hover {
    background: var(--Submit-Button-Hover-Effect);
    border-radius: 3em;
}

header form svg {
    width: 32px;
    height: 32px;
}

/* Footer CSS Layout */

footer {
    background-color: var(--Footer-Background-Color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: auto;
    display: flex;
    padding: 2px;
    margin: 0px;
}

footer * {
    padding: 1px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background-color: var(--Footer-Background-Color);
}

footer a {
    color: var(--Special-Text-Color);
}

footer a:hover {
    color: var(--White-Text-Color);
}

.Creators {
    float: right;
    margin-left: auto;
    margin-right: 5px;
}

body {
    background-color: var(--Body-Background-Color);
    margin: 0px;
}

/* ^^^ Basic Website CSS Code Above ^^^ */

/* Top Image Layout */

.TopArea {
    font-family: 'JetBrains Mono', monospace;
    background: var(--White-Background-Color);
    color: var(--White-Background-Color);
    width: calc(100% - 40px);
    /* background: url(images/Security_Picture.png);
    background-repeat: no-repeat;
    background-size: cover; */
    letter-spacing: 5px;
    margin: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center
}

.Top-image {
    padding-right: 70px;
}

.Top-image h1 {
    font-size: 5em;
    display: inline-block;
}

@keyframes S {
    0% {
        opacity: 0;
    }
    100% {
        -ms-transform: translate(40px, 0px);
        /* IE 9 */
        -webkit-transform: translate(40px, 0px);
        /* Safari */
        transform: translate(40px, 0px);
        /* Standard syntax */
    }
    from {
        color: var(--White-Background-Color);
    }
    to {
        color: #4C75A3;
        text-shadow: 0px 2px 5px black;
    }
    /* opacity: 1; */
}

.S, .e, .r, .v, .i, .c, .e-2, .s-2 {
    animation: S 2.5s ease-in-out forwards;
    animation-iteration-count: 1;
}

.S {
    animation-delay: 0.4s;
    /* transform: rotate3d(10, 10, 10, 65deg); */
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.e {
    animation-delay: 0.3s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.r {
    animation-delay: 0.2s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.v {
    animation-delay: 0.1s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.i {
    animation-delay: 0s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.c {
    animation-delay: -0.1s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.e-2 {
    animation-delay: -0.2s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

.s-2 {
    animation-delay: -0.3s;
    -webkit-transform: rotateZ(20deg);
    /* Safari */
    transform: rotateZ(20deg);
}

/* ^^^ Top Image Layout ^^^ */

/* Packages CSS */
.servicesArea{
    margin: 10px 20px 10px 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 15px;
    background-color: var(--White-Background-Color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.packagesTitle {
    font-size: 1.4rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.servicesArea ul {
    list-style-type: none;
    text-align: center;
}

.servicesArea h4 {
    text-align: center;
}

.diamond {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 2px solid #BFF1F8;
    border-radius: 1rem;
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: auto;
}

.gold {
    grid-column: 2/3;
    grid-row: 2/3;
    border: 2px solid #FFF7A8;
    border-radius: 1rem;
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: auto;
}

.silver {
    grid-column: 3/4;
    grid-row: 2/3;
    border: 2px solid #DBDBDB;
    border-radius: 1rem;
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: auto;
}

.otherServices {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: auto;
}

.otherServices h3 {
    text-align: center;
}

.servicesImage {
    grid-column: 2/3;
    grid-row: 3/4;
    max-width: 90%;
    height: auto;
    margin: 20px;
    padding: 10px;
}

.contactUsArea {
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 20px;
    padding: 10px;
    max-width: 250px;
    height: auto;
    text-align: center;
}

    button{
        color: maroon;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

/* ^^^ Services Area CSS ^^^ */

/* Responsive Design */

@media only screen and (max-width: 700px) {
    .servicesArea {
        margin: 10px 20px 10px 20px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 1rem;
        font-size: 15px;
        background-color: var(--White-Background-Color);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        justify-items: start;
        align-items: start;
    }
    .packagesTitle {
        align-self: center;
        text-decoration: underline 1px black;
        /* align-self: left;
        font-size: 1.4rem;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px; */
    }
    .servicesArea ul {
        text-align: left;
    }
    .servicesArea h4 {
        text-align: left;
    }
    .servicesImage {
        order: 1;
        max-width: 100%;
        height: auto;
        align-self: center;
        margin: 0;
    }
    .diamond {
        max-width: 100%;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        order: 3;
        border: none;
    }
    .gold {
        max-width: 100%;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        order: 4;
        border: none;
    }
    .silver {
        max-width: 100%;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        order: 5;
        border: none;
    }
    .otherServices {
        max-width: 100%;
        margin: 0;
        padding-left: 25px;
        padding-right: 25px;
        order: 6;
    }
    .otherServices h3 {
        align-self: left;
        text-align: left;
        font-size: 1.4rem;
    }
    .contactUsArea {
        max-width: 100%;
        margin: 0;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        order: 7;
        align-self: center;
        font-size: 1.2rem;
    }

    button{
        font-size: 1.3rem;
    }
}

/* ^^^ Responsive Design ^^^ */
