:root {
    --Footer-Background-Color: #2E4661;
    --Header-Background-color: #2E4661;
    --Body-Background-Color: #2E4661;
    --Special-Text-Color: #88B7D3;
    --Background-Image-Height: 200px;
    --White-Background-Color: #F2EDEB;
    --White-Text-Color: #F2EDEB;
    --Submit-Button-Hover-Effect: lightblue;
    --Slideshow-Height: 100vh;
}

/* Basic Website CSS Code */

/* * {
    border: 0;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

header {
    background-color: var(--Header-Background-color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: fit-content;
    min-height: 3em;
    position: sticky;
    left: 0;
    top: 0;
    display: flex !important;
    padding: 2px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 50;
}

header * {
    padding: 1px;
    margin: 3px;
}

header img {
    margin-left: 50px;
    height: 50px;
    opacity: 1;
    transition: all .2 ease-out;
}

header img:hover {
    opacity: 0.65;
    transition: .3s ease-in;
}

nav {
    margin-left: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

header form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    flex-basis: fit-content;
}

header form input[type="search"] {
    margin-top: 5px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30vw;
    border-radius: 1em;
    border: none;
    padding: 2px;
    padding-left: 6px;
    flex-shrink: 3;
    flex-grow: 4;
    transition-property: border-radius;
    transition-duration: 0.5s;
}

header form input[type="search"]:focus {
    border-radius: 0em;
}

header form input[type="submit"] {
    background: none;
    outline: none;
    border: none;
    width: 32px;
    height: 32px;
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 3em;
}

header form input[type="submit"]:hover {
    background: var(--Submit-Button-Hover-Effect);
    border-radius: 3em;
}

header form svg {
    width: 32px;
    height: 32px;
} */

/* Footer CSS Layout */

/* footer {
    background-color: var(--Footer-Background-Color);
    color: var(--White-Text-Color);
    width: calc(100% - 3px);
    height: auto;
    display: flex;
    padding: 2px;
    margin: 0px;
}

footer * {
    padding: 1px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--Footer-Background-Color);
}

footer a {
    color: var(--Special-Text-Color);
}

footer a:hover {
    color: var(--White-Text-Color);
}

.Creators {
    float: right;
    margin-left: auto;
    margin-right: 5px;
}

body {
    background-color: var(--Body-Background-Color);
    margin: 0px;
} */

/* ^^^ Basic Website CSS Code ^^^ */

/* Main layout */

/* Silde Layout */

.slideshow {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--Slideshow-Height);
    overflow: hidden;
}

.slideshow .slider {
    width: 100vw;
    height: var(--Slideshow-Height);
    z-index: 2;
}

.slideshow .slider * {
    outline: none;
}

.slideshow .slider .item {
    height: var(--Slideshow-Height);
    width: 100vw;
    position: relative;
    overflow: hidden;
    border: none;
}

.slideshow .slider .item .text {
    display: none;
}

.slideshow .slider .item img {
    min-width: 101%;
    min-height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow .slick-dots {
    position: fixed;
    z-index: 100;
    width: 40px;
    bottom: auto;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;
}

.slideshow .slick-dots li {
    display: block;
    width: 100%;
    height: auto;
}

.slideshow .slick-dots li button {
    position: relative;
    width: 20px;
    height: 15px;
    text-align: center;
}

.slideshow .slick-dots li button:before {
    content: '';
    background: #fff;
    color: #fff;
    height: 2px;
    width: 20px;
    border-radius: 0;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}

.slideshow .slick-dots li.slick-active button:before {
    width: 40px;
    opacity: 1;
}

.slideshow.slideshow-right {
    left: 0;
    z-index: 1;
    width: 50vw;
    pointer-events: none;
}

.slideshow.slideshow-right .slider {
    left: 0;
    position: absolute;
}

.slideshow-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 70px;
    width: 100vw;
    text-align: center;
    color: var(--White-Text-Color);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100px;
    pointer-events: none;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 1;
}

.slideshow-text a {
    text-align: center;
    width: fit-content;
    color: var(--White-Text-Color);
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    pointer-events: auto;
    text-shadow: 0px 2px 5px black;
    letter-spacing: 5;
}

.slideshow-text p {
    color: var(--White-Text-Color);
    text-shadow: 0px 2px 5px black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 8;
    font-size: 15px;
    text-transform: uppercase;
    line-height: .99;
    outline: none;
    border: none;
    text-decoration: none;
    pointer-events: none;
    text-align: center;
    height: fit-content;
    margin: 10px;
    letter-spacing: 1;
    word-spacing: 2;
}

@media (max-width: 767px) {
    .slideshow-text {
        font-size: 40px;
    }
}

.the-most {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50vw;
    max-width: 200px;
    padding: 10px;
}

.the-most img {
    max-width: 100%;
}

/* ^^^ Silde Layout ^^^ */

/* Contact information Layout */

/* .contact-box {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 10px;
    background-color: var(--White-Background-Color);
}

.contact-box h3 {
    font-size: larger;
    padding-bottom: 10px;
}

.contact-info * {
    padding: 2px;
} */

/* ^^^ Contact information Layout ^^^ */

/* ^^^ Main layout ^^^ */